*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  position: absolute;
  left: 30%;
  transform: translate(-30%);
  top: 3%;
  width: 550px;
  height: 853px;
  border-radius: 8.95px;
  overflow: hidden;
  /* border: thin rgba(0, 0, 0, 0.08) solid; */
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  /* background: #E5E5E5;; */
}
