[id*="image"] {
  position: absolute;
  border-radius: 8.95px;
}
#image22 {
  width: 72.91px;
  height: 97.02px;
  left: 319.85px;
  top: 96px;
}
#image23 {
  width: 72.31px;
  height: 96.42px;
  left: 319.85px;
  top: 201.45px;
}
#image24 {
  width: 72.31px;
  height: 97.02px;
  left: 400.59px;
  top: 218.93px;
}
#image25 {
  width: 72.31px;
  height: 96.42px;
  left: 400.59px;
  top: 114.08px;
}
#image26 {
  width: 72.31px;
  height: 97.02px;
  left: 157.75px;
  top: 175.54px;
}
#image27 {
  width: 72.91px;
  height: 96.42px;
  left: 238.5px;
  top: 126.13px;
}
#image28 {
  width: 72.31px;
  height: 96.42px;
  left: 77px;
  top: 144.81px;
}
#image29 {
  width: 72.91px;
  height: 96.42px;
  left: 238.5px;
  top: 231.58px;
}
#image30 {
  width: 73.52px;
  height: 63.88px;
  left: 157.75px;
  top: 103.23px;
}
